* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #FFFFFF;
}

.judul {
    color: #CB6978;
    font-family: "Montserrat", sans-serif;
    font-size: 5vw;
    letter-spacing: 0.5vw;
    text-align: center;
    padding-top: 5vw;
    position: relative;
    top: 10vw;
    padding-bottom: 5vw;
}

.content  {
    background-color: #FFB9C4;
    height: 78.3vh;
    position: relative;
    top: 20vw;
    padding: 5vw 3vw 2vw 3vw;
    border-top-left-radius: 9vw;
    border-top-right-radius: 9vw;
}

.input1 {
    padding: 1.5vw 2vw 1.5vw 2vw;
    border-radius: 1vw;
    border: none;
    outline: none;
    color: #323d67;
    font-size: 4vw;
    font-family: "Montserrat", sans-serif;
}

input::placeholder, .input1::placeholder {
    color: #323d678e;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select.classKelas {
    background: url("./selectIcon.png")
    no-repeat;
    background-color: #ffffff;
    background-size: 2.5vw;
    background-position: calc(100% - 1.5vw) 2.9vw;
    background-repeat: no-repeat;
}

input[type="number"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#Kelas option {
    background-color: rgb(255, 255, 255);
    width: 20vw !important; 
    border-radius: 9vw;
    border: none;
}

.classKelas {
    width: 30vw;
}

.classNama {
    width: 80vw;
}

.classAbsen {
    width: 26vw;
}

.inputAtas {
    display: flex;
    /* border: 1px solid red; */
    width: 75vw;
    gap: 4vw;
    flex-direction: column;
    align-items: first baseline;
    margin-left: 5vw;
    position: relative;
    top: 10vw;
}

.inputBawah {
    display: flex;
    flex-direction: column;
    width: 84vw;
    gap: 4vw;
    margin: auto;
    /* border: 1px solid red; */
    margin-top: 4vw;
    margin-bottom: 2vw;
    position: relative;
    top: 10vw;
}

.input2 {
    padding: 1.5vw 2vw 1.5vw 2vw;
    border-radius: 1vw;
    border: none;
    outline: none;
    font-family: "Montserrat", sans-serif;
    font-size: 4vw;
}

.submit {
    background-color: transparent;
    color: #FFFFFF;
    border: 0.9vw solid white;
    padding: 1vw 3vw 1vw 3vw;
    border-radius: 7vw;
    font-size: 6vw;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    width: max-content;
    margin: auto;
    position: relative;
    top: 50vw;
    display: block;
}

@media screen and (min-width: 1024px) {
    .judul {
        color: #CB6978;
        font-family: "Montserrat", sans-serif;
        font-size: 1.5vw;
        letter-spacing: 0.5vw;
        text-align: center;
        padding-top: 2vw;
        padding-bottom: 2vw;
    }

    .content  {
        background-color: #FFB9C4;
        height: 77.1vh;
        padding: 5vw 3vw 2vw 3vw;
        border-top-left-radius: 4vw;
        border-top-right-radius: 4vw;
    }

    .input1 {
        padding: 1.5vw 2vw 1.5vw 2vw;
        border-radius: 0.5vw;
        border: none;
        outline: none;
        color: #323d67;
        font-size: 1.1vw;
        font-family: "Montserrat", sans-serif;
    }

    input::placeholder {
        color: #323d678e;
    }

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    select.classKelas {
        background: url("./selectIcon.png")
        no-repeat;
        background-color: #ffffff;
        background-size: 1vw;
        background-position: calc(100% - 1.5vw) 1.7vw;
        background-repeat: no-repeat;
    }

    input[type="number"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    #Kelas option {
        background-color: rgb(255, 255, 255);
        width: 20vw !important; 
        border-radius: 9vw;
        border: none;
    }

    .classKelas {
        width: 30vw;
    }

    .classNama {
        width: 25vw;
    }

    .classAbsen {
        width: 10vw;
    }

    .inputAtas {
        display: flex;
        /* border: 1px solid red; */
        width: 75vw;
        margin: auto;
        gap: 3vw;
        align-items: center;
        justify-content: center;
    }

    .inputBawah {
        display: flex;
        flex-direction: column;
        width: 75vw;
        gap: 2vw;
        margin: auto;
        /* border: 1px solid red; */
        margin-top: 2vw;
        margin-bottom: 2vw;
    }

    .input2 {
        padding: 1.5vw 2vw 1.5vw 2vw;
        border-radius: 0.5vw;
        border: none;
        outline: none;
        font-family: "Montserrat", sans-serif;
        font-size: 1.1vw;
    }

    .submit {
        background-color: transparent;
        color: #FFFFFF;
        border: 0.3vw solid white;
        padding: 1vw 3vw 1vw 3vw;
        border-radius: 7vw;
        font-size: 1vw;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        width: max-content;
        margin: auto;
        display: block;
    }
}